<h1> Edit "How to Study" </h1>
<p> (This feature still under construction - deal with the Tom Selleck crab a little longer ^^) </p>

<%= form_for(@story) do |f| %>
  <%= f.label :image, "Place Image URL here:" %><br/>
  <%= f.text_field :image %><br/>
  <%= f.submit %>
<% end %>
